


/* GENERAL STYLES */

body {
    background-color: rgb(73, 76, 79);
}

.header {
    color: seagreen;
    text-shadow: 1px 1px 1px black;
}

.sub-header {
    color: darkseagreen;
    text-shadow: .5px .5px .5px black;
}


/* BUTTON STYLING */ 


.btn-add {
    background-color:indianred;
    font-weight: bold;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    text-shadow: .5px .5px .5px black;

}


.btn-one {
    background-color: royalblue;
    font-weight: bold;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    text-shadow: .5px .5px .5px black;

}

.btn-one:hover {
    transform: scale(1.08);
    transition: .3s all ease;
}

.btn-add:hover {
    transform: scale(1.08);
    transition: .3s all ease;
}

.btn-sm {
    background-color: royalblue;
    font-weight: bold;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 4rem;
    height: 1.5rem;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    font-weight: bold;
    text-shadow: .5px .5px .5px black;

}

.btn-sm-g {
    background-color: seagreen;
    font-weight: bold;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 4rem;
    height: 1.5rem;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    font-weight: bold;
    text-shadow: .5px .5px .5px black;

}


.btn-sm-del {
    background-color: crimson;
    font-weight: bold;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 4rem;
    height: 1.5rem;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    font-weight: bold;
    text-shadow: .5px .5px .5px black;
}

.btn-del {
    background-color: crimson;
    font-weight: bold;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    text-shadow: .5px .5px .5px black;
}
.btn-del:hover {
    transform: scale(1.08);
    transition: .3s all ease;
}

.btn-up {
    background-color:royalblue;
    font-weight: bold;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    text-shadow: .5px .5px .5px black;

}



/* NAVBAR STYLING */
nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    top: 0;
    border-radius: 10px;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}

.nav-logo {
    text-decoration: none;
    font-size: 1.5em;
    color: seagreen;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;



}


/* CALENDAR PAGE STYLING */
.calendar-btns {
    margin-bottom: 3.5vh;
    margin-left: 2vw;
}


.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 10px;
}

.calendar tr, .calendar td {
    border-radius: 10px;
    border: 2px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;  
}

.calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}

li {
    font-size: 1.25em;
}

a {
    color: rgb(191, 211, 247);
}

.cal-item {
    color: orange;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

/* ALL EVENTS LIST */
tr .event-list-link {
    padding-right: 1em;
    color: crimson;
}

tr .event-list-title {
    padding-right: 2em;
    color: whitesmoke;
    text-decoration: none;
    font-size: larger;
    text-shadow: .5px .5px .5px black;
}


/* DELETE CONFIRMATION PAGES */

.delete-options {
    margin-top: 3vh;
    justify-content: space-between;
}

.cancel {
    margin-right: 1vw;
}


/* UPDATE PAGE STYLING */

.update-form {
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;
    display:list-item;
}

.update-form input {
    max-width: 20vw;
}