{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <nav class="nav-bar">
        <a href="/" class="nav-logo"><img width="180vw"  src="{% static 'images/planify_logo_nav.png' %}" class="nav-logo"></a>
        <a href="/about/" class="nav-link">About</a>
        {% if user.is_authenticated %}
        <div class="dropdown" style="align-items: center; justify-content: center; " >
            <a href="{% url 'profile' user.id%}" class="drop-link">Profile
                <span style="font-size: 10px;" class=""> ▼ </span> 
            </a>
            <div class="drop-content">
                <a href="{% url 'edit_profile' user.id%}" id="drop-item" class="nav-link">Edit Profile</a>
                <a href="{% url 'edit_account' user.id%}" id="drop-item" class="nav-link">Edit Account</a>
            </div>
        </div>
        <a href="/calendar/" class="nav-link">Calendar</a>
        <div class="dropdown">
            <a href="/events/" class="drop-link">Events
                <span style="font-size: 10px;" class=""> ▼ </span> 
            </a>
            <div class="drop-content">
                <a href="/events/new/" id="drop-item" class="nav-link">Add Event</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/collaborators/" class="drop-link">Collaborators
                <span style="font-size: 10px;" class=""> ▼ </span>  
            </a>
            <div class="drop-content">
                <a href="/collaborators/new/" id="drop-item" class="nav-link">Add Collaborator</a>
            </div>
        </div>
        <a href="/admin/" class="nav-link">Admin</a>
        <a href="{% url 'contact' %}" class="nav-link">Contact Us</a>
        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="nav-link">Login</a>
        <a href="{% url 'register' %}" class="nav-link">Register</a>
        <a href="{% url 'contact' %}" class="nav-link">Contact Us</a>
        {% endif %}
        
    </nav>
    <div class="app">
    {% block content %}

    {% endblock %} 
    <br><br><br>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <img src="{% static 'images/planify_logo_footer.png' %}" alt="">
            </div>
            <div class="footer-center">
            </div>
            <div class="footer-right">
                <p><a href="">Privacy Policy</a></p>
                <p><a href="">Terms & Conditions</a></p>
                <p><a href="">Contact Us</a></p>
            </div>
        </div>
        <p class="copyright" >Ⓒ Copyright planify 2022</p>
      </footer>
</body>
</html>