{% extends 'base.html' %} 

{% block title %}
Planify | My Calendar 
{% endblock %}
{% block content %} 
<div class="header-container">
    <h1 class="header">{{ user }}'s Calendar</h1>
    <p><a href="{% url 'events' %}">Events List View</a> </p>
</div>
<div class="cal-container">
    
    <div class="cal-wrapper">
        <div class="calendar-btns">
            <a href="{% url 'calendar' %}?{{ prev_month }}"><button class="btn-one" >Previous Month</button></a>
            <a href="{% url 'calendar' %}?{{ next_month }}"><button class="btn-one" >Next Month</button></a>
            <a href="{% url 'event_create' %}"><button class="btn-add">Add Event</button></a>
        </div>
        {{ calendar }}
    </div>
</div>
{% endblock %}