{% extends 'base.html' %} 

{% block title %}
Planify | Home Page
{% endblock %}
{% block content %} 
<div class="header-container">
    <h1 class="header">My Calendar</h1>
    <p><a href="">Back to Profile</a> </p>
</div>
<div class="cal-container">
    
    <div class="cal-wrapper">
        <div class="calendar-btns">
            <a href="{% url 'calendar' %}?{{ prev_month }}" class="btn"><button class="btn" >Previous Month</button></a>
            <a href="{% url 'calendar' %}?{{ next_month }}" class="btn"><button class="btn" >Next Month</button></a>
            <button class="btn">Add Event</button>
        </div>
        {{ calendar }}
    </div>
</div>
{% endblock %}