{% extends 'base.html' %} 

{% block title %}
Planify | Collaborator Details
{% endblock %}
{% block content %} 
<div class="header-container">
    <h1 class="header">{{ collaborator.name }}</h1>
    <p><a href="{% url 'collaborators' %}">Back to Collaborators List</a> </p>
    <p><a href="{% url 'events' %}">View Events List</a> </p>
</div>

<table style="margin-top: 2em;" >
    <tr>
        <th class="sub-header" style="font-size: larger;">Role</th>
        <th class="sub-header" style="font-size: larger;">Email</th>
        <th class="sub-header" style="font-size: larger;">Phone</th>
        <th class="sub-header" style="font-size: larger;"></th>
        <th class="sub-header" style="font-size: larger;"></th>
    </tr>
    <tr>
        <td><p class="event-list-title">{{ collaborator.role }}</p></td>
        <td><p class="event-list-title">{{ collaborator.email }}</p></td>
        <td><p class="event-list-title">{{ collaborator.phone_number }}</p></td>
        <td><a href="{% url 'collaborator_update' collaborator.id %}"><button class="btn-sm" >Edit</button></a></td>
        <td><a href="{% url 'collaborator_delete' collaborator.id %}"><button class="btn-sm-del" >Delete</button></a></td>
    </tr>
</table>

{% endblock %}