{% extends 'base.html' %} 

{% block title %}
Planify | Edit Collaborator
{% endblock %}
{% block content %} 
<div class="header-container">
    <h1 class="header">Edit Collaborator</h1>
    <p><a href="{{request.META.HTTP_REFERER|escape}}">Cancel</a> </p>
</div>

<form class="update-form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn-up" type="submit" >Update</button>
</form>
<a href="{% url 'collaborator_delete' collaborator.id %}"><button class="btn-del" >Delete</button></a>


{% endblock %}