{% extends 'base.html' %} 

{% block title %}
Planify | Create Profile
{% endblock %}
{% block content %} 


<div class="edit-profile">
    
    <h1 class="header">First Things First!</h1>
    <span class="sub-text" >Before you begin using Planify, create your user profile!</span>
    <div class="form-two">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{form.as_p}}
            <button class="btn-one" type="submit">Create!</button>
        </form>
    </div>
</div> 
{% endblock %}