{% extends 'base.html' %} 

{% block title %}
Planify | Edit Event
{% endblock %}
{% block content %} 
<div class="header-container">
    <h1 class="header">Edit Event</h1>
    <p><a href="{% url 'event_detail' event.id %}">Cancel</a> </p>
</div>

<div class="form-two">
    <form class="update-form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn-up" type="submit" >Update</button>
    </form>
    <a href="{% url 'event_delete' event.id %}"><button class="btn-del" >Delete</button></a>
</div>

{% endblock %}