{% extends 'base.html' %} 

{% block title %}
Planify | Event List
{% endblock %}
{% block content %} 
<div class="header-container">
    <h1 class="header">My Events</h1>
    <p><a href="">Back to Profile</a> </p>
    <a href="{% url 'event_create' %}"><button class="btn">Add Event</button></a>
</div>

<table>
    <tr>
        <th class="sub-header" style="font-size: larger;">Events</th>
        <th></th>
        <th></th>
    </tr>
    {% for event in events %}
    <tr>
        <td><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></td>
        <td><a href="{% url 'event_detail' event.id %}">View</a></td>


    </tr>
    {% empty %}
    <p>You have no current events to display!</p>
    {% endfor %}
</table>

{% endblock %}