{% extends 'base.html' %} 
{% load static %}

{% block title %}
Planify | Profile
{% endblock %}
{% block content %} 
<div class="profile-page">
    
    <div class="header-container">  
        <h1 class="header">{{ current_user }}'s Profile</h1>
        {% if current_user.profile_pic %}
        <span><img style="border-radius: 50%; object-fit: cover;" src="{{ current_user.profile_pic.url }}" width="150px" height="150px" alt=""></span>
        {% else %}
        <span><img style="border-radius: 50%; object-fit: cover;" src="{% static 'images/default_pf.png' %}" width="150px" height="150px" alt=""></span>

        {% endif %}
        
        <p><a href="{% url 'events' %}">Your Events List</a></p>
        <p><a href="{% url 'calendar' %}">View Your Calendar</a></p>
        {% if user.id == profile.user.id %}
        <a href="{% url 'edit_profile' user.id %}"> <button class="btn-one" >Edit Profile</button> </a>
        <a href="{% url 'edit_account' user.id %}"> <button class="btn-del" >Edit Account</button> </a>
        {% endif %}
    </div>
    <div class="profile-info">
        <div class="profile-contact">
            <h2 class="sub-header">Contact Info</h2>
            {% if profile.user.first_name and profile.user.last_name %}
            <h3 class="profile-item">{{ profile.user.first_name }} {{profile.user.last_name}}</h3>
            {% endif %}
            <p class="profile-item"><strong>Email:</strong><br>
                {{ current_user.user.email }}</p>
            {% if current_user.website_url %}
           
                <a href="{{ current_user.website_url }}"><img style="margin: 3px;" width="40px" src="{% static 'images/website-xxl.png' %}" alt=""></a>
            {% endif %}
            
            {% if current_user.instagram_url %}
                <a href="{{ current_user.instagram_url }}"> <img style="margin: 3px;" width="40px" src="{% static 'images/instagram-xxl.png' %}" alt=""></a>
            {% endif %}

            {% if current_user.facebook_url %}
                <a href="{{ current_user.facebook_url }}"> <img style="margin: 3px;" width="40px" src="{% static 'images/facebook-xxl.png' %}" alt=""></a>
            {% endif %}

            {% if current_user.twitter_url %}
                <a href="{{ current_user.twitter_url }}"> <img style="margin: 3px;" width="40px" src="{% static 'images/twitter-xxl.png' %}" alt=""></a>
            {% endif %}

            {% if current_user.linkedin_url %}
                <a href="{{ current_user.linkedin_url }}"> <img style="margin: 3px;" width="40px" src="{% static 'images/linkedin-xxl.png' %}" alt=""></a>
            {% endif %}
        </div>
        <div class="profile-bio">
            {% if user.profile.bio %}
                <h2 class="sub-header">Bio</h2>
                <p class="bio"><strong>{{ current_user.bio }}</strong></p>
            {% endif %}
        </div>
    </div>

    <div class="user-events">
        <h2 class="sub-header">Current Events/Projects</h2>
        {% for event in events %}
        <ul style="list-style: none;" >
            <li><a href="{% url 'event_detail' event.id%}" class="event-item-pf">{{ event.title }}</a></li>
        </ul>
        {% empty %}
        <p>No Pending Events!</p>
        {% endfor %}
        <a href="{% url 'event_create' %}"><button class="btn-add" >Add Event</button></a>
    </div>

    <div class="team">
        <h2 class="sub-header">Your Collaborator Team</h2>
        {% for c in collaborators %}
        <ul style="list-style: none;" >
            <li><a href="{% url 'collaborator_detail' c.id%}" class="event-item-pf">{{ c.name }}</a></li>
        </ul>
        {% empty %}
        <p>No Team Members Yet!</p>
        {% endfor %}
        <a href="{% url 'add_collaborator' %}"><button class="btn-add" >Add Collaborator</button></a>
    </div>




</div>
{% endblock %}