{% extends 'base.html' %} 

{% block title %}
Planify | Event Task Details
{% endblock %}
{% block content %}  


<h1 class="header" >{{ task }}</h1>
<p>Event: {{ task.event }}</p>
<a href="{{request.META.HTTP_REFERER|escape}}">Back to Event</a>

<h4>{{ task.description }}</h4>

<hr>
<div class="detail-actions">
<h4>Choose an Action</h4>
    <a href="{% url 'task_update' task.id%}" class="action"><button class="btn-sm-g">Edit</button></a>
    <a href="{% url 'task_delete' task.id%}" class="action"><button class="btn-sm-del">Delete</button></a>
</div>

{% endblock %}